[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "blacklist"

[packages]
wheel = "*"
flask = "*"
marshmallow = "*"
python-abc = "*"
python-dotenv = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
pytz = "*"
faker = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
requests= "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-env = "*"
google-cloud-secret-manager = "*"